{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retournez à mon compte</a> <br>
    <hr>
    {% if notif %}
        <div class="alert alert-info"> {{ notif }} </div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}
