{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block content %}
    <div class="block-small">
        <h2>Erreur...</h2>
        <p>Il semblerait que quelque chose ce soit mal passée...</p>
        <a href="{{ path('home') }}" class="btn btn-info">Je retourne à l'accueil</a> 
    </div>
{% endblock %}
